@page
@inherits EasyAbp.SharedResources.Web.Pages.SharedResourcesPage
@model EasyAbp.SharedResources.Web.Pages.SharedResources.IndexModel
@{
}
<h1>SharedResources</h1>
<p>A sample page for the SharedResources module.</p>